.button {
	appearance: none;
	border: none;
	text-decoration: none;
	color: var(--clr-light);
	background-color: var(--clr-primary);
	padding: 0.6rem 1.4rem;
	border-radius: 0.4rem;
	cursor: pointer;
}
