.socials {
	display: flex;
	gap: 0.5rem;

	a {
		display: grid;
		place-content: center;
		color: var(--clr-light);
		font-size: 1.5rem;
		padding: 0.4em !important;
		border-radius: 50%;
		aspect-ratio: 1;
		text-decoration: none;
		background-color: #0003;
		opacity: 0.8;
		transition: opacity 0.2s ease;

		&:hover {
			opacity: 1;
		}
	}

	svg,
	img,
	i {
		display: block;
		color: inherit;
		height: 1em;

		path {
			fill: currentColor;
		}
	}
}

.content-home {
	max-width: 75rem;
	display: flex;
	flex-direction: column;
	gap: 2.5rem;

	hr {
		margin-block: 0;
	}

	h3 {
		font-weight: 400;
		font-size: 1.5rem;
	}

	section {
		display: grid;
		gap: 2rem;

		* {
			margin: 0;
		}
	}

	h2 {
		font-size: 2.2rem;
	}

	&-top,
	&-get {
		text-align: center;
		justify-items: center;
	}

	&-split {
		div {
			display: flex;
			flex-direction: column;
			gap: 1.5rem;
		}

		@media (min-width: 700px) {
			grid-template-columns: 3fr 1fr 3fr;
			align-items: center;

			div {
				grid-column-end: span 2;
			}

			&:nth-child(2n) {
				img {
					grid-column-end: -1;
				}

				div {
					grid-row-start: 1;
					grid-column-start: 1;
				}
			}
		}
	}
}
