h1,
h2,
h3,
h4,
h5,
h6 {
	line-height: 1.2;
	font-family: var(--font-accent);
}

h1,
.title-1 {
	font-weight: 300;
	font-size: 32pt;
}

h2,
.title-2 {
	font-weight: 800;
	font-size: 22pt;
	color: var(--clr-primary);
}

h3,
.title-3 {
	font-weight: 800;
	font-size: 18pt;
}

h4,
.title-4 {
	font-weight: 700;
	font-size: 16pt;
}

a {
	color: var(--clr-primary);
}
