:root {
	--content-width: 63.75rem;
	--content-padding: 1.875rem;

	--font-primary: Inter, sans-serif;
	--font-accent: Cantarell, sans-serif;
	@supports (font-variation-settings: normal) {
		--font-primary: Inter Variable, sans-serif;
		--font-accent: Cantarell Variable, sans-serif;
	}

	--clr-primary: #4a86cf;
	--clr-orange: #ff7800;
	--clr-purple: #9141ac;
	--clr-yellow: #ffd500;
	--clr-green: #33d17a;
	--clr-red: #e01b24;
	--clr-light: #ffffff;
	--clr-grey: #77767b;
	--clr-dark: #241f31;
}
