{% extends "base.html" %} {% block header %}
<div class="hero">
	<img src="/images/map-logo.svg" alt="Logo české komunity GNOME" />
	<div class="text">
		<h1>GNOME Česká republika</h1>
		<h2>Česká komunita projektu GNOME</h2>
		<p>
			GNOME neznamená jen platformu. Jsou to i lidé, komunita projektu. A
			její součástí se můžete stát i vy!
		</p>
		<p class="socials">
			<a
				href="https://matrix.to/#/#gnome-cz:matrix.org"
				title="Česká místnost na Matrixu"
				target="_blank"
			>
				<svg
					role="img"
					viewBox="0 0 24 24"
					xmlns="http://www.w3.org/2000/svg"
				>
					<path
						d="M.632.55v22.9H2.28V24H0V0h2.28v.55zm7.043 7.26v1.157h.033c.309-.443.683-.784 1.117-1.024.433-.245.936-.365 1.5-.365.54 0 1.033.107 1.481.314.448.208.785.582 1.02 1.108.254-.374.6-.706 1.034-.992.434-.287.95-.43 1.546-.43.453 0 .872.056 1.26.167.388.11.716.286.993.53.276.245.489.559.646.951.152.392.23.863.23 1.417v5.728h-2.349V11.52c0-.286-.01-.559-.032-.812a1.755 1.755 0 0 0-.18-.66 1.106 1.106 0 0 0-.438-.448c-.194-.11-.457-.166-.785-.166-.332 0-.6.064-.803.189a1.38 1.38 0 0 0-.48.499 1.946 1.946 0 0 0-.231.696 5.56 5.56 0 0 0-.06.785v4.768h-2.35v-4.8c0-.254-.004-.503-.018-.752a2.074 2.074 0 0 0-.143-.688 1.052 1.052 0 0 0-.415-.503c-.194-.125-.476-.19-.854-.19-.111 0-.259.024-.439.074-.18.051-.36.143-.53.282-.171.138-.319.337-.439.595-.12.259-.18.6-.18 1.02v4.966H5.46V7.81zm15.693 15.64V.55H21.72V0H24v24h-2.28v-.55z"
					/>
				</svg>
			</a>
			<a
				href="https://mastodon.social/@gnome_cz"
				title="Český profil na Mastodonu"
				target="_blank"
			>
				<svg
					role="img"
					viewBox="0 0 24 24"
					xmlns="http://www.w3.org/2000/svg"
				>
					<path
						d="M23.193 7.88c0-5.207-3.411-6.733-3.411-6.733C18.062.357 15.108.025 12.041 0h-.076c-3.069.025-6.02.357-7.74 1.147 0 0-3.412 1.526-3.412 6.732 0 1.193-.023 2.619.015 4.13.124 5.092.934 10.11 5.641 11.355 2.17.574 4.034.695 5.536.612 2.722-.15 4.25-.972 4.25-.972l-.09-1.975s-1.945.613-4.13.54c-2.165-.075-4.449-.234-4.799-2.892a5.5 5.5 0 0 1-.048-.745s2.125.52 4.818.643c1.646.075 3.19-.097 4.758-.283 3.007-.359 5.625-2.212 5.954-3.905.517-2.665.475-6.508.475-6.508zm-4.024 6.709h-2.497v-6.12c0-1.29-.543-1.944-1.628-1.944-1.2 0-1.802.776-1.802 2.313v3.349h-2.484v-3.35c0-1.537-.602-2.313-1.802-2.313-1.085 0-1.628.655-1.628 1.945v6.119H4.831V8.285c0-1.29.328-2.314.987-3.07.68-.759 1.57-1.147 2.674-1.147 1.278 0 2.246.491 2.886 1.474L12 6.585l.622-1.043c.64-.983 1.608-1.474 2.886-1.474 1.104 0 1.994.388 2.674 1.146.658.757.986 1.781.986 3.07v6.305z"
					/>
				</svg>
			</a>
			<a
				href="https://twitter.com/gnomecz"
				title="Český profil na Twitteru"
				target="_blank"
			>
				<svg
					role="img"
					viewBox="0 0 24 24"
					xmlns="http://www.w3.org/2000/svg"
				>
					<path
						d="M23.953 4.57a10 10 0 01-2.825.775 4.958 4.958 0 002.163-2.723c-.951.555-2.005.959-3.127 1.184a4.92 4.92 0 00-8.384 4.482C7.69 8.095 4.067 6.13 1.64 3.162a4.822 4.822 0 00-.666 2.475c0 1.71.87 3.213 2.188 4.096a4.904 4.904 0 01-2.228-.616v.06a4.923 4.923 0 003.946 4.827 4.996 4.996 0 01-2.212.085 4.936 4.936 0 004.604 3.417 9.867 9.867 0 01-6.102 2.105c-.39 0-.779-.023-1.17-.067a13.995 13.995 0 007.557 2.209c9.053 0 13.998-7.496 13.998-13.985 0-.21 0-.42-.015-.63A9.935 9.935 0 0024 4.59z"
					/>
				</svg>
			</a>
		</p>
	</div>
</div>
{% endblock %} {% block content %}
<main class="container content-home" id="content">
	<section class="content-home-top">
		<img
			src="/images/releases/forty-two/splash.png"
			alt="Přehled činností GNOME 42"
		/>
		<h2>Dělejte věci s lehkostí, pohodlím a kontrolou.</h2>
		<p>
			Snadný a elegantní způsob používání počítače, GNOME 42 je navrženo
			tak, aby vám pomohlo co nejlépe pracovat s počítačem.
		</p>
		<a href="/getting-gnome" class="button">Získat GNOME</a>
	</section>
	<hr />
	<section class="content-home-split">
		<img
			src="/images/releases/forty-two/overview.png"
			alt="Mřížka aplikací GNOME 42"
		/>
		<div>
			<h3 class="title-2">Jednoduché a snadné na používání</h3>
			<p>
				Každá část GNOME 42 byla navržena tak, aby byla jednoduchá a
				snadno použitelná. Přehled činností je jednoduchý způsob, jak
				získat přístup ke všem základním úkolům. K zobrazení otevřených
				oken, spouštění aplikací nebo kontrole, zda nemáte nové zprávy,
				stačí stisknout tlačítko. Mít vše na jednom pohodlném místě
				znamená, že se nemusíte učit orientovat ve spleti různých
				technologií.
			</p>
		</div>
	</section>
	<section class="content-home-split">
		<img
			src="/images/releases/forty-two/folders.png"
			alt="Složka aplikací GNOME 42"
		/>
		<div>
			<h3 class="title-2">Intuitivní a efektivní</h3>
			<p>
				Prostředí GNOME 42 poskytuje soustředěné pracovní prostředí,
				které vám pomůže dokončit práci. Je vybaveno funkcemi, které vám
				umožní zvýšit produktivitu: výkonnou funkcí vyhledávání, která
				vám pomůže přistupovat ke všem vašim pracovním úkolům z jednoho
				místa; okny vedle sebe, která usnadňují prohlížení několika
				dokumentů najednou; bezproblémovou integrací s online účty,
				která vám umožní přistupovat ke všem vašim datům na jednom
				místě; a systémem zpráv, který se pohodlně vypořádá s oznámeními
				a umožní vám rychle reagovat na místě nebo se k nim vrátit ve
				vhodnou dobu.
			</p>
		</div>
	</section>
	<section class="content-home-split">
		<img
			src="/images/releases/forty-two/notifications.png"
			alt="Přehled notifikací GNOME 42"
		/>
		<div>
			<h3 class="title-2">Jemně zpracované</h3>
			<p>
				Všechny aspekty prostředí GNOME 42 byly vytvořeny tak, aby do
				sebe zapadaly jako harmonický celek a poskytovaly konzistentní a
				integrované prostředí. Naše pozornost věnovaná detailům znamená
				vyladěný produkt, který vám umožní dělat věci, které chcete,
				aniž by vám překážel. S prostředím GNOME 42 je radost pracovat a
				je krásné se na něj dívat.
			</p>
		</div>
	</section>
	<hr />
	<section class="content-home-get">
		<h3 class="title-2">A mnohem, mnohem víc…</h3>
		<a href="/getting-gnome" class="button">Získat GNOME</a>
	</section>
</main>
{% endblock %}
